.btnLoadMore {
  margin: 0 auto;
  margin-bottom: 36px;
  display: flex;
  background-color: #0e0e56;
  color: white;
  border-color: #0e0e56;

  &:hover {
    border-color: #080834;
    box-shadow: 0 5px 10px 0 #080834;
    transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
  }
}
